    body{
        background-color: aquamarine;
        color: aquamarine;
        font-family: 'Gill Sans';
        margin: 0px;
    }
    header{border-bottom: solid 4px red;
    padding: 10px;
font-size: 32px;
color: aquamarine;
}
section{background: yellow;
padding-bottom: 80px;
padding-top: 50px;
display: flex;
justify-content: center;
}